[submodule "barvinok"]
	path = barvinok
	url = https://repo.or.cz/barvinok.git
[submodule "pet"]
	path = pet
	url = https://repo.or.cz/pet.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "isl"]
	path = isl
	url = https://github.com/spcl/haystack-isl.git
	branch = master
